@font-face {
    font-family: 'a';
    src: url(./fonts/42b832c93976ddd8-s.p.ttf);
}

@font-face {
    font-family: 'Giaza';
    src: url(./fonts/Giaza.otf);
}
:root{
    --primary-color: #f1c40f;
    --secondary-color: #2c3e50;
    --tertiary-color: #e74c3c;
    --quaternary-color: #f6f4f0;
    --black-color: #242222;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
 
html,body{
width: 100%;
height: 100%;
font-family: 'a', sans-serif;
}
#main{
    width: 100%;
}

video{
    width: 100%;
    object-fit: cover;
}

#hero{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.bg-img{
    max-width: 40%;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content{
    width: 100%;
    min-height: 100vh;
    padding: 2vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.content h1{
    font-size: 15vw;
    font-weight: 400;
    color: var(--black-color);
    text-align: center;
    font-family: 'Giaza', sans-serif;

}
.content img{
    width: 100%;
}

.content h4{
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: 6vw;
    font-weight: 400;
    text-align: center;
}

#menu{
    margin: 2vw auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    width: min-content;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;

}

#menu a{
    color: #ddd;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
    padding: 0.8vw 1.5vw;
    border-radius: 50px;
}

#menu a:hover{
    background-color: rgba(0,0,0,0.5);
}


#page2{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}